*.iml
.gradle
local.properties
.idea/
.DS_Store
build
captures
.externalNativeBuild
app/release
app/debug

# Ignore all files in BL/
app/src/main/assets/cached_images/BL/*

# But keep the .gitkeep file
!app/src/main/assets/cached_images/BL/.gitkeep
